.cabecalho {
background-image: linear-gradient(rgb(240, 93, 13), white);
    color: black;
    display: flex;
  
}

.section1 {
    background-image: linear-gradient(white, rgb(232, 92, 22));
    padding: 100px;
}

.section2 {
    background-image: linear-gradient(rgb(255, 163, 4),black);
    padding: 100px;
}

.cabecalho-imagem {
    width: 10px;
}