.cabecalho-imagem{white-space: nowrap;}



.cabecalho {
background-image: linear-gradient(rgb(247, 247, 247));
    display: flex;
  
}

.section1 {
    background-image: linear-gradient(rgb( )   );
    padding;
}

.section2 {
    background-image: linear-gradient(black,darkorange );
    ;
    padding: 100px;
}

.cabecalho-imagem {
    width: 10px;
}